.booking {
  background-color: rgb(221, 219, 219);
  text-align: left;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-style:solid;
  border-color: #8d2168;
  border-width: 5px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 20px;
  box-shadow: 15px 15px rgb(29, 25, 25);
}

@media only screen and (max-width: 400px)  {
  .booking h1 {
    font-size: 6.5vw;
  }
  .booking h2 {
    font-size: 6vw;
  }
  .booking h3 {
    font-size: 5.5vw;
  }
  .booking h4 {
    font-size: 5vw;
  }
}


.myBookings {
  background-color: rgb(221, 219, 219);
  text-align: left;
  color: black;
  border-radius: 10px;
  border-style:solid;
  border-color: #8d2168;
  border-width: 5px;
  box-shadow:15px 15px rgb(29, 25, 25);
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  
}

.myBookings h1  {
  font-size: 3.5vw;
}

.myBookings h2  {
  font-size: 3vw;
}

.showBookingBtn {
  border-radius: 5px;
}

button.cancelBtn.btn-success {
  padding: 5px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #8d2168;
}

.bookingText {
  color:white;
}

#text_value  {
  background-color: #8d2168;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.myBookingPage {
  padding-bottom: 40px;
  color: white;
}

.myBookingPage #myBookingPageH1 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.modal-body .input-body, .modal-header #noInputModalLabel, .modal-header #bookingCancelledModalLabel,
.modal-header #bookingNumberNotFoundModalLabel   {
  color: black;
  text-align: center;
}

@media only screen and (max-width: 400px)  {
   #enterBookingInfo {
     width: 90%;
     margin: auto;
  }
}

@media only screen and (max-width: 300px)  {
   #enterBookingInfo {
     width: 100%;
  }
}

#enterBookingInfo {
  text-align: center;
}