.booking {
  background-color: rgb(221, 219, 219);
  text-align: left;
  color: black;
  margin-bottom: 400px;
  margin-top: 50px;
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 20px;
  box-shadow: 15px 15px rgb(29, 25, 25);
}

.booking h1, .myBookings h1 {
  font-size: 5vw;
}

.booking h2, .myBookings h2 {
  font-size: 4vw;
}

.booking h3, .myBookings h3 {
  font-size: 3vw;
}

.booking h4, .myBookings h4 {
  font-size: 2vw;
}

.myBookings {
  background-color: rgb(221, 219, 219);
  text-align: left;
  color: black;
  margin-bottom: 400px;
  margin-top: 50px;
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  box-shadow:rgb(29, 25, 25);
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right:10px;

}

.showBookingBtn {
  border-radius: 5px;
}

.cancelBtn {
  padding: 5px;
  margin-top: 30px;
  border-radius: 5px;
}

.bookingText {
  color:white;
}

.myBookingPage {
  margin-bottom: 300px;
  padding-bottom: 40px;
  color: white;
}

.myBookingPage h1 {
  padding-bottom: 30px;
  font-size: 6vw;
}