.booking {
  background-color: rgb(221, 219, 219);
  text-align: center;
  color: black;
  margin-bottom: 400px;
  margin-top: 50px;
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
  padding-top: 30px;
  padding-bottom: 50px;
}