* {
  font-size: 15px;
  align-items: center;
  font-weight: 700;
}


hr {
  color: white;
}


#mySelect {
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  width: 7%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  left: 72%;
}

th {
  cursor: pointer;
}

td:hover {
  background-color: red;
}

.cinema {
  margin-top: 80px;
  margin-left: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .screen {
  display: flex;
  margin-top: -60%;
  margin-left: -30%;
  width: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid rgb(255, 255, 255);
} */


.btn {
  display: flex;
  margin-left: -40%;
  margin-top: 7%;
}

.row1 {
  display: flex;
  margin-left: -84.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row2 {
  display: flex;
  margin-left: -90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row3 {
  display: flex;
  margin-left: -94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row4 {
  display: flex;
  margin-left: -94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row5 {
  display: flex;
  margin-left: -94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row6 {
  display: flex;
  margin-left: -94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row7 {
  display: flex;
  margin-left: -103%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.row8 {
  display: flex;
  margin-left: -103%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 100%;
}



.seats {
  background-color: rgb(184, 16, 16);
  padding: 15px 18px;
  display: flex;
  height: 10px;
  width: 1px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  cursor: pointer;
  align-items: center;
}

.selected-seat {
  background-color: rgb(2, 243, 2);
  padding: 15px 18px;
  display: flex;
  height: 10px;
  width: 1px;
  margin: 3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}





.disabledseats {
  background-color: rgb(87, 87, 87);
  padding: 15px 18px;
  display: flex;
  height: 10px;
  width: 1px;
  margin: 3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}



.table {
  color: white;
}

#span3 {
  display: block;
  width: 50%;
  color: white;
  margin-top: 200px;
  margin-left: 30%;
  margin-bottom: 10%;
  height: 250px !important;
  overflow: scroll;
  overflow-x: hidden;
}