* {
  font-size: 15px;
  align-items: center;
  font-weight: 600;

}

hr {
  color: white;
}

#mySelect {
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  width: 7%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  left: 72%;
  top: 25%;
}

#mySelect1 {
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  width: 4%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  left: 67%;
  top: 25%;
}

td {
  cursor: pointer;
}

.table-hover>tbody>tr:hover {
  background-color: white;
}


.cinema {
  min-width: 350px;
  max-width: 100%;
  /*margin-left: 50%;*/
  justify-content: center;
  align-items: center;
}

.crow {
  text-align: center;
}

/* .screen {
  display: flex;
  margin-top: -60%;
  margin-left: -30%;
  width: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid rgb(255, 255, 255);
} */


.btn3 {
  margin-left: 48.5%;
  margin-top: 5%;
}



.seats {
  display: inline-block;
  background-color: rgb(184, 16, 16);
  padding: 10px;
  /*display: flex;*/
  /*height: 10px;*/
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  cursor: pointer;
  /*align-items: center;*/
}

.selected-seat {
  display: inline-block;
  background-color: rgb(2, 243, 2);
  padding: 10px;
  /*display: flex;*/
  /*height: 10px;*/
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  cursor: pointer;
  /*align-items: center;*/

  cursor: pointer;
}





.disabledseats {
  display: inline-block;
  background-color: rgb(87, 87, 87);
  padding: 10px;
  /*display: flex;*/
  /*height: 10px;*/
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  /*align-items: center;*/

}



.table {
  color: white;
}

#span3 {
  display: block;
  width: 50%;
  color: white;
  margin-top: 200px;
  margin-left: 30%;
  margin-bottom: 10%;
  height: 250px !important;
  overflow: scroll;
  overflow-x: hidden;
}