hr {
  color: white;

}

#mySelect {
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  min-width: 100px;
  max-width: 100px;
  line-height: inherit;
  margin-left: 110px;

}

#mySelect1 {
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  min-width: 100px;
  max-width: 100px;
  line-height: inherit;

}

td {
  font-size: 15px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.table-hover>tbody>tr:hover {
  background-color: white;
}


.cinema {
  min-width: 350px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.crow {
  text-align: center;
}

.wrap-btn {
  width: 100%;
  text-align: center;
}

.btn3 {
  margin-top: 5%;
  margin-bottom: 2%;
}

.screen {
  display: inline-block;
  background-color: #fff;
  height: 70px;
  max-width: 20%;
  min-width: 350px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.span {
  min-width: 350px;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 3%;
}

.seats {
  font-weight: 600;

  display: inline-block;
  background-color: rgb(184, 16, 16);
  padding: 10px;
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  cursor: pointer;
}

.selected-seat {
  font-weight: 600;
  display: inline-block;
  background-color: rgb(2, 243, 2);
  padding: 10px;
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  cursor: pointer;
  cursor: pointer;
}

.disabledseats {
  font-weight: 600;
  display: inline-block;
  background-color: rgb(87, 87, 87);
  padding: 10px;
  width: 32px;
  margin: 3px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;

}

.table {
  color: white;
  background-color: rgb(87, 87, 87);
  border-radius: 8px;

}

.modal-footer {
justify-content: center;
}

#datemodal {
  text-align: center;
}

#span3 {
  display: block;
  width: 65%;
  color: white;
  margin-top: 200px;
  margin-left: 20%;
  margin-bottom: 10%;
  height: 350px !important;
  overflow: scroll;
  overflow-x: hidden;
}

#selectors {
  margin-top: 170px;
  margin-left: 20%;
}

#date-picker-example {
  margin-left: 220px;
  position: absolute;
  border: none;
  padding: 0 1em 0 0;
  height: 22px;
  min-width: 160px;
  max-width: 160px;
  line-height: inherit;
}

@media only screen and (max-width: 650px) {
  .seats {
    width: 24px;
    height: 24px;
    font-size: 12px;
    text-align: center;
  }

  .selected-seat {
    font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
  }

  .disabledseats {
    font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
  }

  #date-picker-example {
    margin-top: -35px;
    margin-left: 20px;
    position: absolute;
    padding: 0 1em 0 0;
    height: 22px;
    min-width: 160px;
    max-width: 160px;
    line-height: inherit;
  }

  #span3 {
    display: block;
    width: 80%;
    color: white;
    margin-top: 200px;
    margin-left: 10%;
    margin-bottom: 10%;
    height: 350px !important;
    overflow: scroll;
    overflow-x: hidden;
  }
}