body{
  background-color: #2F303A;
  
}
.poster{
  height: 350px;
  width: auto ;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  


}

#title{
  color: white;
    text-align: center;
    margin-top: 0rem;
    font-size: .93rem;
    line-height: .635rem;
    min-height: 7rem;
    white-space:normal;
    opacity: 1;
    
}
