.logo {

     position: relative;

     left: -80px;
     width: 250px;
     height: 150px;
     padding-left: 20px;

}

nav {
     height: 100px;
}



.nav-link {
     position: relative;

     left: -150px;
     color: black;
     font-weight: 600;
     border-radius: 20%;
}

.nav-link:hover {
     color: rgb(255, 255, 255);
     background-color: #7e1d5c;

}

button {
     color: black;
}

.navbar-dark .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;..");
}