.logo {
     /* max-width: 250px;
     max-width: 150px; */

     position: absolute;

     height: 62px;
     width: 100px;
     top: -6px;
}

.navbar-collapse {
     background-color: #8d2168;
}


.navbar-light {

     background-color: #8d2168;
}

.nav-link {
     position: relative;
     border-radius: 20%;
     left: 100px;
}

.nav-link:hover {
     background-color: #7e1d5c;
}


.navbar-light .navbar-toggler-icon {
     color: black;
}