.logo {
     position: absolute;
     height: auto;
     width: 100px;
     top: -6px;
}

.navbar-collapse {
     background-color: #8d2168;

}


.navbar-light {

     background-color: #8d2168; 
     -webkit-filter: drop-shadow(20px 20px 20px rgb(255, 255, 255));
  filter: drop-shadow(10px 10px 10px rgb(19, 19, 19) );
}

.nav-link {
     position: relative;
     border-radius: 20%;
     left: 100px;
     color: white !important;
      
}


.nav-link:hover {

     border-bottom: 1.55px double rgb(199, 199, 199);
     width: fit-content;
     position: relative;
     border-radius: 20%;
     left: 100px;
     right: 100px;   
     
}

.navbar-light .navbar-toggler-icon {
     color: black;

}