

#confirmBooking>.modal-dialog>.modal-content {
    background-color: white ; 
    border-radius: 40px;
    color: rgb(58, 57, 57);
}

#confirmBooking .modal-title {
    padding: 0.5rem;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

#modal-film-info {
    margin: 0px 0px 25px;
    border-bottom: 1px solid;
    padding-bottom: 25px;
}

#confirmBooking .modal-body h3 {
    text-align: center;
    line-height: 1.3;
    font-size: 30px;
}

#confirmBooking .modal-footer {
    border-radius: 10px;
}

#confirmBooking .modal-footer button,
#confirmBooking .modal-body label {
    font-weight: bolder;
}